
        h1 {text-align: center;}
        h2 {text-align: center;}
        p {
            /* text-align: center; */
        font-size: 16px;}
        nav {text-align: center;}
        li {font-size: 16px;}
        /* li li:hover{
            color:rgb(97, 135, 205);
            font-weight: bold;
        } */
        /* li:hover{
            color:grey;
        } */
        /* Top Nav Bar */
        /* Reference: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
        .navbar {
            overflow:hidden;
            /* position:fixed; */
            top:0;
            width: 100%;
            /* height:3%; */
            background-color: rgb(20, 20, 20);
            color: #ccc;
            font-size: 20px;
            text-decoration: none;
            text-align: center;
            padding: 8px 10px;
            /* margin-bottom: 40px; */
        }


        .navbar a {
            float: center;
            display: inline;
            text-align: center;
            padding: 0px 10px;
            text-decoration: none;
            font-size: 20px;
            
        }

        .navbar a:link{
            color: rgb(109, 179, 255)
            
        }



        .navbar a:visited{
            color: white
        }

        .navbar a:hover{
            color: rgb(109, 179, 255)
        }
        /* Collapsible button 
        Reference: https://www.w3schools.com/howto/howto_js_collapsible.asp
        */
        .collapsible {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
            }

        .active, .collapsible:hover {
            background-color: #ccc;
            }
        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
            }
        .collapsible:after {
                content: '\02795'; /* Unicode character for "plus" sign (+) */
                font-size: 13px;
                color: white;
                float: left;
                margin-left: 5px;
            }

        .active:after {
                content: "\2796"; /* Unicode character for "minus" sign (-) */
            }

        .content img {
            display: block;
    margin-left: auto;
    margin-right: auto
        }


 